



<div class="container">
 <div class="row">
 
  
     <% @cars.each do |car|%>
      <div class="col-4">
      <%= link_to image_tag(car.img, :style => "width:250px; height:250px "), car_path(car) %>
      <br>
     
         <strong>Model:</strong>
      <%= car.model %>
      <br>
      <hr>
      </div>
   <%end%>

 </div>
</div>
 
 


 